<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name %></h1>

<div class="list-group">
  <p class="list-group-item">
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p class="list-group-item">
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p class="list-group-item">
    <strong>Phone:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p class="list-group-item">
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>
</div>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <strong>Review</strong>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %> stars!</li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<%= link_to 'Back', restaurants_path%>
