<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <strong>Reviews about this restaurant</strong>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %> stars!</li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<%= link_to 'Back', restaurants_path%>
